
    <div class="card animated fadeIn fast">

        <div class="card-body">

            <div class="container">

                <div class="row justify-content-md-center">

                    <div class="col col-lg-2">
                        <img class="card-img-top" [src]="heroe.url" [alt]="heroe.title" width="140" height="130" class="img-fluid">
                    </div>
                    <div class="col col-lg-2">
                        <h5 class="card-title">{{heroe.title}}</h5>
                        <p class="card-text"><small class="text-muted">{{heroe.releaseYear}}</small></p>
                        <p class="card-text">{{heroe.programType}}</p>
                    </div>
                    <div class="col col-lg-6">
                        <p class="card-text">{{heroe.description}}</p>
                    </div>
                    <div class="col col-lg-2">
                   
                    </div>
                </div>
            
            </div>


        </div>
    </div>

